<div class="container">
  <div [hidden]="submitted">
    <h2>Personal Information</h2>
    <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <div class="form-group" [class.has-error]="FirstName.invalid && FirstName.touched">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" 
        placeholder="Type your first name" required
        [(ngModel)]="model.FirstName" name="FirstName"
        #FirstName="ngModel">
        
        <span class="help-block" *ngIf="FirstName.invalid && FirstName.touched">
            Name is required
        </span>
      </div>
      

      <div class="form-group" [class.has-error]="LastName.invalid && LastName.touched">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" 
        placeholder="Type your last name" required
        [(ngModel)]="model.LastName" name="LastName"
        #LastName="ngModel">
        
        <span class="help-block" *ngIf="LastName.invalid && LastName.touched">
            Last name is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="BirthDay.invalid && BirthDay.touched">
        <label for="BirthDay">BirthDay</label>
        <input type="date" class="form-control" id="BirthDay" 
        required
        [(ngModel)]="model.BirthDay" name="BirthDay"
        #BirthDay="ngModel">
        
        <span class="help-block" *ngIf="LastName.invalid && LastName.touched">
            BirthDay is required
        </span>
      </div>

      <h2>User Information</h2>

      <div class="form-group" [class.has-error]="Email.invalid && Email.touched">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" 
        placeholder="Type your email" required email
        [(ngModel)]="model.Email" name="Email"
        #Email="ngModel">

        <span class="help-block" *ngIf="Email.invalid && Email.touched">
          Valid email is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="Password.invalid && Password.touched">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" 
        placeholder="Type your password" required
        [(ngModel)]="model.Password" name="Password"
        #Password="ngModel">
        
        <span class="help-block" *ngIf="Password.invalid && Password.touched">
            Password is required
          </span>
      </div>

      <div class="form-group" [class.has-error]="Repeat-Password.invalid && Repeat-Password.touched">
        <label for="Repeat-Password">Repeat Password</label>
        <input type="password" class="form-control" id="Repeat-Password" 
        placeholder="Confirm your password" required
        [(ngModel)]="model.Password" name="Repeat-Password"
        #RepeatPassword="ngModel">

        <span class="help-block" *ngIf="Repeat-Password.invalid && Repeat-Password.touched">
            Password is required
        </span>
      </div>
      
      <button type="submit" class="btn btn-success"[disabled]="!studentForm.form.valid">Submit</button>

    </form>
  </div>
</div>
